# Java / Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / JetBrains
.idea/
*.iws
*.iml
*.ipr

# VSCode
.vscode/

# Node / React
node_modules/
dist/
coverage/
.next/
pnpm-lock.yaml
package-lock.json

# Playwright
playwright-report/
test-results/

# Logs
*.log

# Docker
.env
.env.*
docker-compose.override.yml

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
